/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 30px;
}
.heading {
  color: #ffffff;
}
.back {
  background-color: #000000;
}
